@import "../../.cache/wal/colors-waybar.css";

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family:
    FontAwesome,
    JetBrains Mono,
    Helvetica,
    Arial,
    sans-serif;
  /* font-size: 14px; */
  font-weight: bold;
}

window#waybar {
  background-color: #282828;
  color: #fbf1c7;
  transition-property: background-color;
  transition-duration: 0.5s;
  /* background: transparent; */

  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  font-size: 9px;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}
#custom-arch {
  font-size: 22px;
  margin: 0 20px 0 12px;
  color: #347823;
}
#custom-shutDown {
  margin: 0 12px;
  font-size: 15px;
  color: #98971a;
}
#custom-lock {
  margin: 0 12px;
  font-size: 15px;
  color: #98971a;
}
#custom-signOut {
  margin: 0 12px;
  font-size: 15px;
  color: #98971a;
}
#custom-reboot {
  margin: 0 12px;
  font-size: 15px;
  color: #98971a;
}
#custom-cpu {
  color: #d79921;
}
#custom-memory {
  color: #458588;
}
#custom-disk {
  color: #b16286;
}
#custom-network {
  color: #689d6a;
}
#cpu,
#memory,
#disk,
#network {
  padding-right: 16px;
}
#cpu {
}
#memory {
}
#disk {
}
#network {
}
#custom-after {
  font-size: 17px;
  font-weight: 800;
  padding-right: 3px;
  margin-left: 20px;
}
#custom-before {
  font-size: 17px;
  font-weight: 800;
  margin-right: 17px;
}

#workspaces button {
  font-size: 10px;
  background-color: transparent;
  color: #fe8019;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 15px;
}

#workspaces button.active {
  color: #347823;
  font-size: 18px;
}

#workspaces button.urgent {
  color: #cc241d;
}
button:hover {
  background-color: transparent;
}
#custom-sound {
  color: #fabd2f;
}
#custom-shutDown {
  color: #cc241d;
}
#custom-shutDownRight {
  color: #cc241d;
  margin-right: 28px;
  margin-left: 16px;
}
#wireplumber,
#clock,
#clock.num2 {
  margin-right: 16px;
}
